certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.9
docutils==0.18.1
idna==3.3
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivy-garden.contextmenu==0.1.0.dev1
kivy-garden.graph==0.4.0
numpy==1.21.4
pycparser==2.21
Pygments==2.10.0
pypiwin32==223
pywin32==302
requests==2.26.0
scipy==1.7.3
soundfile==0.11.0
urllib3==1.26.7
